.even {
  flex-direction: row-reverse;
}
.content {
  flex: 0 0 50%;
  max-width: 50%;
}
.at-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.year {
  font-size: 80px;
}
